$text-light: #fff;

.drawer {
	background: var(--ant-color-error);
	color: $text-light;
	padding: 40px;
	line-height: 60px;
	height: 1vh;
	overflow-x: hidden;

	ul {
		list-style: none;
		padding: 0;

		li {
			cursor: pointer;
			transition: opacity 0.3s;

			&:hover {
				opacity: 0.7;
			}

			a {
				color: $text-light;
				text-decoration: none;
			}
		}
	}

	&_row {
		overflow: hidden;
		margin-left: 0 !important;
		margin-right: 0 !important;
	}

	&_logo {
		display: flex;
		justify-content: start;

		img {
			height: 80px;
		}
	}

	&_left {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		li {
			margin-bottom: 40px;
			font-weight: 400;
			font-size: clamp(16px, 2vw + 16px, 64px)
		}

		&__social {
			margin-top: 40px;
			font-size: 24px;
			display: flex;
			gap: 20px;

			svg {
				cursor: pointer;
				transition: transform 0.2s;

				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}

	&_list {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 40px;
		font-weight: bold;
	}

	&_right {
		:first-child {
			margin-top: 0;
		}

		h4 {
			margin-top: 64px;
			font-weight: bold;
			text-transform: uppercase;
		}

		li {
			font-size: 16px;
			line-height: 200%;
		}

		&__policy {
			margin-top: 64px;
		}

		&__subscribe {
			margin-top: 30px;

			input {
				border-radius: 20px !important;
			}
		}
	}

	&_closeBtn {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 28px;
		color: $text-light;
	}

	@media (max-width: 1200px) {
		padding: 20px;

		&_left li {
			font-size: clamp(14px, 2vw + 12px, 48px);
			margin-bottom: 24px;
		}

		&_right h4 {
			margin-top: 32px;
		}
	}

	@media (max-width: 768px) {
		&_row {
			flex-direction: column;
			width: 100%;
		}

		&_logo {
			margin-bottom: 20px;
		}

		&_left,
		&_right {
			width: 100%;
			margin-inline: 0 !important;
			display: flex;
			flex-direction: column;
			max-width: none !important;

			&__social {
				margin-bottom: 20px;
			}

			li {
				margin-bottom: 16px;
			}
		}
		&_left{
			li {
				margin-bottom: 0;
			}
		}
	}
}