@use '../mixins' as *;

.card {
	border: none;

	&_md {
		@include card-base(328px, 432px);

		.card_img {
			height: 240px;
		}
	}

	&_sm {
		@include card-base(444px);
	}

	&_lg {
		@include card-base(560px, 628px);

		.card_img {
			height: 410px;
		}
	}

	&_img {
		border-radius: 8px;
		width: 100%;
		object-fit: cover;

		&__cover {
			object-fit: cover;
		}

		&__scaleDown {
			object-fit: scale-down;
		}
	}

	&_body {
		@include card-body();
		height: 100%;
	}

	.tags {
		overflow: hidden;
		display: flex;
	}

	&_footer {
		@include card-footer();

		& {
			margin-top: auto;
		}
	}
}