.card {
	border: none;
	width: 444px;
	height: 628px;
	background-color: var(--ant-color-error);
	color: var(--ant-color-bg-base);

	.body {
		padding-block: 0 !important;
		text-align: start;
		display: flex;
		flex-direction: column;
		height: 100%;
		gap: 32px;
		padding: 34px;

		h3 {
			font-size: 54px;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
			line-height: 120%;
		}

		.btn{
			display: flex;
			align-items: center;
			gap: 10px;
			.btnTicket {
			width: max-content;
			&:hover {
				color: var(--ant-color-primary);
				border-color: var(--ant-color-primary);
				background-color: var(--ant-color-bg-base);
			}
		}
		}

		

		&_tags {
			overflow: hidden;
			display: flex;
		}

		&_tag {
			color: inherit !important;
			border-color: inherit !important;
			background: transparent !important;
		}

		&_footer {
			display: flex;
			gap: 8px;
			margin-top: auto;

			strong {
				font-weight: 600;
			}

			&__place {
				position: relative;
				padding-left: 16px;

				&::before {
					content: "•";
					position: absolute;
					left: 0;
					top: 4px;
					color: inherit;
					font-size: 16px;
					line-height: 1;
				}
			}
		}
	}
}