@use '../mixins' as *;

.card{
	border: none;
	@include card-base(100%);
	&_img {
		min-height: 180px;
		height: 100%;
		object-fit: cover;
		display: block;
		flex: 0 0 30%;
		margin-block: auto;
	}

	&_body {
		@include card-body($padding-inline: 10px,$padding-block: 10px);
		flex-direction: row;
		gap: 16px;
	}

	&_content{
		flex: 1;
		display: flex;
		flex-direction: column;
		gap: 12px;
		min-width: 0;
	}

	&_footer {
		flex-direction: column;
		gap: 8px;
		@include card-footer();
		&{
			margin-top: auto;
		}
	}
}