.content {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;

	>* {
		flex: 1 1 calc((100% - 64px) / 3);
		max-width: calc((100% - 64px) / 3);
	}

	@media (max-width: 1024px) {
		>* {
			flex: 1 1 calc((100% - 32px) / 2);
			max-width: calc((100% - 32px) / 2);
		}
	}

	@media (max-width: 600px) {
		>* {
			flex: 1 1 100%;
			max-width: 100%;
		}
	}
}